body{
	text-align: center; /* 文字置中 */
	background: #b6cfb9;
	color: #d95122; /*文字顏色*/
	padding: 0;
	margin: 0;
}

/*nav*/
nav{
	background: #896645;
}

nav a{
	background: #eab05c;
	padding: 18px;
	display: inline-block;

	color: #d95122;
	text-decoration: none;
}

nav a:hover{
	background: #fffbe4;
	color: #c87227;
}

/*section*/
section{
	width: 80%; /*視窗的80%*/
	margin: auto; /*物件置中*/
}

/* article */
article{
	display: inline-block;
	border:solid 1px rgb(96, 51, 20);
	width: 200px;
	margin: 20px;
}

article img{
	width: 80%;
	border-radius: 50%;
}

article a{
	display: inline-block;
	color:#603314;
	background: #d8d3b3;
	text-decoration: none;
	padding-bottom: 20px;
}

article a:hover{
	color:#fffbe4;
	background: #eab05c;
}

article a:active{
	color:#eae5c7;
	background: #e5c69d;
}

footer{
	margin:50px;
}

